<section
  class="text-white font-neon h-screen flex flex-col justify-center items-center"
>
  <h1
    class="text-white text-4xl text-center neon-text-yellow flicker-slow tracking-widest"
  >
    Tic Tac Toe
  </h1>
  <div
    class="text-8xl flex justify-center items-center space-x-1 mt-4 font-extralight"
  >
    <p class="neon-text flicker-slow">X</p>
    <p class="neon-text-pink flicker-fast">O</p>
  </div>
  <div
    class="text-8xl flex justify-center items-center space-x-1 mt-4 font-extralight"
  >
    <p class="neon-text-pink flicker-fast">O</p>
    <p class="neon-text flicker-slow">X</p>
  </div>
  <div
    class="flex justify-evenly w-1/2 md:w-1/5 text-lg mt-16 text-gray-100 hover:cursor-pointer"
  >
    <span class="hover:animate-bounce"
      ><a routerLink="/1player" class="text-gray-100 text-2xl neon-text"
        >1P</a
      ></span
    >
    <span class="hover:animate-bounce">
      <a routerLink="/2player" class="text-gray-100 text-2xl neon-text-pink"
        >2P</a
      ></span
    >
  </div>
</section>
